#all-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column; }

.select-movie {
  display: flex;
  justify-content: center;
  margin: 1.6rem; }
  .select-movie p {
    margin-right: 1rem; }
  .select-movie select {
    margin-left: 1rem; }

.seat-description {
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem; }

.screen {
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  background-color: white;
  height: 3.8rem;
  width: 50%;
  margin: 0 auto; }
  .screen p {
    color: #484848;
    text-align: center; }

.seat-number {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem; }

.all-seat {
  display: flex;
  justify-content: center; }

.left-seat {
  display: flex;
  flex-wrap: wrap;
  width: 9rem;
  margin: 1rem; }

.right-seat {
  display: flex;
  flex-wrap: wrap;
  width: 9rem;
  margin: 1rem; }

.center-seat {
  display: flex;
  flex-wrap: wrap;
  width: 24rem;
  margin: 1rem; }

.icon {
  padding: 1rem;
  cursor: pointer;
  font-size: 2.2rem; }

.occupied {
  color: #adb5bd; }

.icon-available {
  font-size: 1.6rem;
  padding: 0 2.2rem; }

.icon-selected {
  font-size: 1.6rem;
  padding: 0 2.2rem; }
  .icon-selected i {
    color: #d90368; }

.icon-occupied {
  font-size: 1.6rem;
  padding: 0 2.2rem; }
  .icon-occupied i {
    color: #adb5bd; }

.reserved-seat {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2.2rem; }

.selected {
  color: #d90368; }

.fa-user.selected {
  color: #d90368; }
