@import "variable";
#all-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.select-movie {
  display: flex;
  justify-content: center;
  margin: $m-size;
  p {
    margin-right: $s-size;
  }
  select {
    margin-left: $s-size;
  }
}

.seat-description {
  display: flex;
  justify-content: center;
  margin-bottom: $m-size;
}

.screen {
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  background-color: $white;
  height: $xl-size;
  width: 50%;
  margin: 0 auto;
  p {
    color: $darkgray;
    text-align: center;
  }
}

.seat-number {
  display: flex;
  flex-direction: column;
  font-size: $m-size;
}

.all-seat {
  display: flex;
  justify-content: center;
}

.left-seat {
  display: flex;
  flex-wrap: wrap;
  width: 9rem;
  margin: 1rem;
}

.right-seat {
  display: flex;
  flex-wrap: wrap;
  width: 9rem;
  margin: 1rem;
}

.center-seat {
  display: flex;
  flex-wrap: wrap;
  width: 24rem;
  margin: 1rem;
}

.icon {
  padding: $s-size;
  cursor: pointer;
  font-size: $l-size;
}

.occupied {
  color: $lightgray;
}

.icon-available {
  font-size: $m-size;
  padding: 0 $l-size;
}

.icon-selected {
  font-size: $m-size;
  padding: 0 $l-size;
  i {
    color: $pink;
  }
}

.icon-occupied {
  font-size: $m-size;
  padding: 0 $l-size;
  i {
    color: $lightgray;
  }
}

.reserved-seat {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  margin-bottom: $l-size;
}

.selected {
  color: $pink;
}

.fa-user.selected {
  color: $pink;
}
